*{ 
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
}
.flexible-container{
    display: flex;
}
.navbar{
    text-align: center;
    background-color:#0B0E17;
    position: fixed;
    top: 0;
    width: 100%;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    overflow: hidden;
    margin: 1% 5%; 
}
.navbar ul li a{
    text-decoration: none;
    color: tomato;
    font-size: 150%;
    transition: 0.5s;
}
.navbar ul li a:hover{
    color: white;
}

#first-section{
    margin-top: 5%;
    margin-bottom: 5%;
    width: 100%;
}

.text-item{
    margin-top:8%;
}
.text-item h1{
    font-size: 350%;
    font-weight: 900;
    color: black;
}
.text-item span{
    color: orange;
}
.text-item p{
    color: gray;
    margin-top: 3%;
    margin-bottom: 5%;
    font-size: 110%;
}
.text-item a{
    text-decoration: none;
    font-size: 100%;
    color: white;
    font-weight: 900;
    border-radius: 30px;
    background-image: linear-gradient(orange,tomato);
    padding: 10px 20px;
    margin-top: 30px;
}
.photo-item img{
    width: 100%;
}
#second-section{
    width: 100%;
    margin-bottom: 5%;
    background-image: url(images/shapes/7.png);
    
}

.photo-item-2 img{
    padding-top: 5%;
    width: 100%;
}
.about-me{
    padding-top: 7%;
    width: 30%;
}
.about-me h1{
    font-size: 250%;
    font-weight: 900;
    color: black;
}
.about-me p{
    color: gray;
    margin-top: 3%;
    margin-bottom: 15%;
    font-size: 110%;
}
.about-me a{
    text-decoration: none;
    font-size: 100%;
    color: white;
    font-weight: 900;
    border-radius: 30px;
    background-image: linear-gradient(orange,tomato);
    padding: 10px 20px;
}
#third-section{
    width: 85%;
    margin-top: 10%;
    margin-bottom: 5%;
}
.centralized-texts{
    text-align: center;
    width: 50%;
}
.centralized-texts h1{
    font-size: 250%;
    font-weight: 900;
    color: #3E3E3E;
}
.centralized-texts p{
    color: #3E3E3E;
    margin-top: 3%;
    margin-bottom: 8%;
    font-size: 110%;
}
.item{
    width: 25%;
    border:10px solid white;
    box-shadow: 2px 2px 30px 20px lightgray;
    border-radius: 6%;
}
.item img{
    width: 100%;
    border-radius: 5%;
}
.item h2{
    font-size: 200%;
    font-weight: 900;
    color: #3E3E3E;
    padding-top: 5%;
}
.item p{
    padding-bottom: 10%;
    padding-top: 5%;
    color: #3E3E3E;
}
#fourth-section{
    width: 80%;
    margin-top: 10%;
    margin-bottom: 10%;
    box-shadow: 2px 2px 30px 20px lightgray;
    border-radius: 20px;
}
.counter-item{
    padding: 5% 2%;
    text-align: center;
}
.counter-item h2{
    font-size: 200%;
    font-weight: 900;
    color: #3E3E3E;
    padding-top: 5%;
}
.counter-item p{
    padding-bottom: 10%;
    padding-top: 5%;
    color: #3E3E3E;
}
footer{
    text-align: center;
    background-color: #0B0E17;
}
footer h2{
    font-size: 150%;
    font-weight: 900;
    color: grey;
    padding-top: 2%;
}
footer span{
    color: orange;
}
footer p{
    padding-bottom: 2%;
    padding-top: 2%;
    color: white;
}
